<div class="page-title">
  <h2>نماذج التعريفات و التصاريح</h2>
  <p>يمكن النظام من خلال هذا القسم اصدار عدة نماذج و تقارير</p>
</div>

<div class="divider"></div> <!-- Divider line before the cards -->

<div class="card-container">
  <div class="card">
    <div class="card-header">
      <h3>نموذج اصدار بطاقة التعريف</h3>
    </div>
    <div class="card-body">
      <p>يمكن النظام من طلب نموذج اصدار بطاقة التعريف</p>
      <a href="dashboard/definitions-autorisations/national-identity">

        <button class="card-button"> قم بالطلب الآن</button>

      </a>

    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>نموذج ترشيح الحصول على صفة عضو</h3>
    </div>
    <div class="card-body">
      <p>من هذا القسم يمكنك طلب الترشح للعضوية بالديوان</p>
      <a href="/dashboard/definitions-autorisations/member-nomination-form">
        <button class="card-button"> قم بالطلب الآن</button>
      </a>
    </div>

  </div>

  <div class="card">
  <div class="card-header">
    <h3>إقرار و تعهد</h3>
  </div>
  <div class="card-body">
    <p>يمكنك النظام من سحب نموذج الاقرار و التعهد وتوقيعه و تسلمه للادارة الديوان</p>
    <a href="/dashboard/pledge-upload">
      <button class="card-button"> قم بالطلب الآن</button>
    </a>
  </div>
</div>



<div class="card">
  <div class="card-header">
    <h3> نموذج التأمين الصحي </h3>
  </div>
  <div class="card-body">
    <p>.يمكن النظام من طلب نموذج نموذج التأمين ا</p>
    <a href="/dashboard/definitions-autorisations/health-assurance">
      <button class="card-button">قم بطلبك الآن</button>
    </a>
  </div>
</div>
</div>


