<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
</head>

<body>
  <!-- Chart Grid -->
  <div class="dashboard-grid">
    <!-- Bar Chart -->
    <div class="chart-container large">
      <h4>إنشاءات الحسابات حسب الشهر</h4>
      <canvas #barCanvas></canvas>
    </div>


    <div class="chart-container large">
      <h4>المؤهلات العلمية</h4>
      <canvas #ageSpecialityCanvas></canvas>
    </div>


    <div class="chart-container large">
      <h4>الوظائف </h4>
      <canvas #ageJobCanvas></canvas>
    </div>





    <!-- Pie Chart -->
    <div class="chart-container small">
      <h4> الاجازات
      </h4>
      <canvas #pieCanvas></canvas>
    </div>

    <!-- Exit Doughnut Chart -->
    <div class="chart-container small">
      <h4>أذونات الخروج
      </h4>
      <canvas #exitDoughnutCanvas></canvas>
    </div>

    <!-- Morning Delay Doughnut Chart -->
    <div class="chart-container small">
      <h4>التأخير الصباحي</h4>
      <canvas #morningDoughnutCanvas></canvas>
    </div>



    <div class="chart-container small">
      <h4>احصائية الأعمار </h4>
      <canvas #ageEmployeeCanvas></canvas>
    </div>




    <div class="chart-container large">
      <h4>التخصصات </h4>
      <canvas #DiplomeCanvas></canvas>
    </div>

  </div>
</body>

</html>